<style>
    .card-equal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
  </style>
  <div class="container mt-5">
    <h2 class="mb-4">Favorites</h2>
    <div class="row">
      {{#each content}}
      <div class="col-md-3 mb-4 d-flex align-items-stretch">
        <div class="card card-equal">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text"><strong>Director:</strong> {{this.director}}</p>
            <p class="card-text"><strong>Year:</strong> {{this.release_year}}</p>
            <p class="card-text"><strong>Genre:</strong> {{this.genre}}</p>
            <p class="card-text"><strong>Format:</strong> {{this.format}}</p>
            <form action="/add-to-cart" method="POST" class="mt-auto">
              <input type="hidden" name="name" value="{{this.title}}">
              <input type="hidden" name="price" value="10.00"> <!-- Adjust the price as needed -->
              <div class="form-group">
                <label for="quantity-{{this.id}}">Quantity:</label>
                <input type="number" id="quantity-{{this.id}}" name="quantity" class="form-control" value="1" min="1">
              </div>
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
            <form action="/remove-from-favorites" method="POST" class="mt-auto">
                <input type="hidden" name="title" value="{{this.title}}">
                <button type="submit" class="btn btn-primary">Remove</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>